---
import ReactPhoneInput from "./react-phone";
import { formatPhoneNumber } from "react-phone-number-input";

const { clientID, pcId } = Astro.props;

type LocationInfo = {
  country_code: string;

  country: string;
  region_code: string;
  region: string;
  city: string;
  isp: string;
  zip_code: string;
  time_zone: string;
  latitude: number;
  longitude: number;
};

const search = Astro.url.searchParams;
console.log(search);
const userIp = Astro.clientAddress;
console.log(userIp);
//time how long it takes to get location info
console.time("location");
const ipResponse = await fetch("http://ip-api.com/json/" + userIp);
console.timeEnd("location");
const locationInfo: LocationInfo = await ipResponse.json();

console.log(locationInfo.city);
---

<div id="container" class="bg-green">
  <script>
    //get _fbc cookie from browser
    const fbc = document.cookie
      .split("; ")
      .find((row) => row.startsWith("_fbc"))
      ?.split("=")[1];
    //get _fbp cookie from browser
    console.log(fbc);
    const fbp = document.cookie
      .split("; ")
      .find((row) => row.startsWith("_fbp"))
      ?.split("=")[1];
    console.log(fbp);
    //set _fbc cookie value to hidden input
    const fbcInput = document.querySelector('input[name="fbc"]');
    if (fbcInput) {
      fbcInput.setAttribute("value", fbc ?? "");
    }
    const fbpInput = document.querySelector('input[name="fbp"]');
    if (fbpInput) {
      fbpInput.setAttribute("value", fbp ?? "");
    }
  </script>
  <main>
    <div class="flex flex-col gap-2 items-center px-3 text-blue">
      <h1 class="text-2xl font-bold leading-6 text-blue">
        Preencha esse formulário e entre para o LactoFlow: {pcId}
      </h1>
      <form
        class="flex flex-col items-center gap-1.5 w-full"
        method="post"
        action="/forms/leads-astro"
      >
        <div class="flex flex-col gap-1.5 items-start">
          <label class="w-full">
            Nome:
            <input type="text" placeholder="Nome" name="name" />
          </label>
          <label>
            Email:
            <input
              type="text"
              placeholder="maeincrivel@gmail.com"
              name="email"
            />
          </label>
          <label>
            Whatsapp:
            <ReactPhoneInput client:idle />
          </label>
          <input
            type="text"
            name="source"
            hidden
            value={search.get("utm_source")}
          />
          <input type="text" name="cta" hidden value="" />
          <input type="text" name="fbc" hidden />
          <input type="text" name="fbp" hidden />
          <input
            type="text"
            name="location"
            hidden
            value={JSON.stringify(locationInfo)}
          />
          <input
            type="text"
            name="city"
            hidden
            value={JSON.stringify(locationInfo.city)}
          />
          <input
            type="text"
            name="city-lwr"
            hidden
            value={locationInfo.city
              ?.toString()
              .replace(/\s+/g, "")
              .toLowerCase()}
          />
          <input
            type="text"
            name="state"
            hidden
            value={locationInfo.region?.toLowerCase()}
          />

          <input
            type="text"
            name="countryName"
            hidden
            value={JSON.stringify(locationInfo.country)}
          />
          <input type="text" name="clientID" hidden value={clientID} />
        </div>
        <button
          class="mx-auto mt-4 w-full rounded-lg border-b-4 border-b-[#236C0F] bg-[#40C351] px-2 py-3 text-[13.6px] font-extrabold uppercase text-cream hover:scale-[104%] hover:border-b-[#44972d] hover:bg-[#236C0F] lg:py-5 lg:text-[22.6px]"
        >
          Quero entrar!
        </button>
        <h3 class="text-center text-base text-blue">
          SEUS DADOS ESTÃO SEGUROS
        </h3>
      </form>
    </div>
  </main>
</div>
